.blue {
    color: royalblue
}

.green {
    color: springgreen
}

.pink {
    color: #FFD1DC
}

.box {
    height: 100px;
    width: 100 px;
    padding: 20px;
    margin: 50px;
    border: 10px black;
}